@page
@model GroundUp.Api.Pages.Memberships.IndexModel
@{
}


<div class="container">

    <div class="card">

        <div class="row p-4">
            <div class="col-md-11">
                <h3>Memberships</h3>
            </div>
        </div>

        <div class="row px-4">
            <div class="col-md-12">
                <form method="POST" class="row">
                    <div class="col-md-2">

                        <div class="form-check">
                            <input asp-for="@Model.IsCancelled" class="form-check-input">
                            <label for="isCancelled"> Is Cancelled?</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input asp-for="@Model.IsActive" class="form-check-input">
                            <label for="isActive"> Is Active?</label>
                      
                        </div>
                    </div>

                    <div class="col-md-1 offset-7">
                        <button class="btn btn-outline-primary" asp-page-handler="Search" asp-route-isCancelled="@Model.IsCancelled" asp-route-isActive="@Model.IsActive">Search</button>
                    </div>
                </form>
            </div>
        </div>



        <div class="row p-4">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>From</th>
                            <th>To</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var client in Model.Memberships)
                        {
                            <tr>
                                <partial name="Shared/_ColorColumn" model="@client.MembershipType.Color" />
                                
                                <td>
                                    @client.MembershipClient.FirstName
                                </td>
                                <td>
                                    @client.MembershipClient.LastName
                                </td>
                                <td>
                                    @client.From.ToShortDateString()
                                </td>
                                <td>
                                    @client.To.ToShortDateString()
                                </td>

                                <td class="text-center">
                                    <a asp-page="./Membership" asp-route-id="@client.Id"> <i class="fa-solid fa-square-arrow-up-right"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tr>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>