@page
@using System.Text.Json;
@model GroundUp.Api.Pages.IndexModel
@{
}

<div class="container">

    <h3 class="text-centar text-muted mt-2 ">
        This year
    </h3>

    <div class="d-flex flex-lg-row flex-md-column flex-sm-column py-4 justify-content-between align-items-stretch">
        <div class="m-2 card flex-grow-1">
            <div class="d-flex flex-row justify-content-between w-100 border-bottom pb-2">
                <div class="bg-groundup-blue p-4 m-2 text-white rounded">
                    <i class="fa-solid fa-users"></i>
                </div>
                <div class="d-flex flex-column m-2 w-100 text-right">
                    <div>
                        <div style="font-size: 18px"><span><strong>Clients</strong></span></div>
                        <div>
                            <h2 class="text-muted">@Model.ClientsCount</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 text-right text-muted" style="font-size: 14px">
                <small>New clients this year.</small>
            </div>
        </div>

        <div class="m-2 card flex-grow-1">
            <div class="d-flex flex-row justify-content-between w-100 border-bottom pb-2">
                <div class="bg-groundup-orange p-4 m-2 text-white rounded">
                    <i class="fa-solid fa-dumbbell"></i>
                </div>
                <div class="d-flex flex-column m-2 w-100 text-right">
                    <div>
                        <div style="font-size: 18px"><span><strong>Memberships</strong></span></div>
                        <div>
                            <h2 class="text-muted">@Model.MembershipsCount</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 text-right text-muted" style="font-size: 14px">
                <small>New memberships this year.</small>
            </div>
        </div>

        <div class="m-2 card flex-grow-1">
            <div class="d-flex flex-row justify-content-between w-100 border-bottom pb-2">
                <div class="bg-groundup-green p-4 m-2 text-white rounded">
                    <i class="fa-solid fa-tag"></i>
                </div>
                <div class="d-flex flex-column m-2 w-100 text-right">
                    <div>
                        <div style="font-size: 18px"><span><strong>Types</strong></span></div>
                        <div>
                            <h2 class="text-muted">@Model.TypesCount</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 text-right text-muted" style="font-size: 14px">
                <small>Number of avaliable groups.</small>
            </div>
        </div>
    </div>

    <div class="d-flex flex-sm-column flex-md-row pb-4">
        <div class="col-sm-12 col-md-6 card flex-fill m-2">
            <div>
                <div class="py-4 border-bottom">
                    <h4 class="text-center">Clients</h4>
                </div>
                <div class="p-4">
                    <canvas id="clients-history"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 card flex-fill m-2">
            <div>
                <div class="py-4 border-bottom">
                    <h4 class="text-center">Memberships</h4>
                </div>
                <div class="p-4">
                    <canvas id="memberships-history"></canvas>
                </div>
            </div>
        </div>
    </div>


    <h3 class="text-centar text-muted ">
        This week
    </h3>

    <div class="d-flex flex-lg-row flex-md-column flex-sm-column py-4 justify-content-between align-items-stretch">
        <div class="m-2 card flex-grow-1">
            <div class="d-flex flex-row justify-content-between w-100 border-bottom pb-2">
                <div class="bg-groundup-blue p-4 m-2 text-white rounded">
                    <i class="fa-solid fa-users"></i>
                </div>
                <div class="d-flex flex-column m-2 w-100 text-right">
                    <div>
                        <div style="font-size: 18px"><span><strong>Clients</strong></span></div>
                        <div>
                            <h2 class="text-muted">@Model.ClientCountThisWeek</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 text-right text-muted" style="font-size: 14px">
                Number of clients you will work with this week
            </div>
        </div>

        <div class="m-2 card flex-grow-1">
            <div class="d-flex flex-row justify-content-between w-100 border-bottom pb-2">
                <div class="bg-groundup-orange p-4 m-2 text-white rounded">
                    <i class="fa-solid fa-dumbbell"></i>
                </div>
                <div class="d-flex flex-column m-2 w-100 text-right">
                    <div>
                        <div style="font-size: 18px"><span><strong>Sessions</strong></span></div>
                        <div>
                            <h2 class="text-muted">@Model.SessionCountThisWeek</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 text-right text-muted" style="font-size: 14px">
                <span class="text-primary" style="font-size: 18px; font-weight: 500">@Model.PassedSessionCountThisWeek </span> / @Model.SessionCountThisWeek completed
            </div>
        </div>

        <div class="m-2 card flex-grow-1">
            <div class="d-flex flex-row justify-content-between w-100 border-bottom pb-2">
                <div class="bg-danger p-4 m-2 text-white rounded">
                    <i class="fa-solid fa-dumbbell"></i>
                </div>
                <div class="d-flex flex-column m-2 w-100 text-right">
                    <div>
                        <div style="font-size: 18px"><span><strong>Cancelled</strong></span></div>
                        <div>
                            <h2 class="text-muted">@Model.CancelledSessionCountThisWeek</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 text-right text-muted" style="font-size: 14px">
                Number of cancelled sessions.
            </div>
        </div>
    </div>

    <div class="d-flex flex-sm-column flex-md-row pb-4">
        <div class="col-sm-12 col-md-6 card flex-fill m-2">
            <div>
                <div class="py-4 border-bottom">
                    <h4 class="text-center">This weeks summary.</h4>
                </div>
                <div class="p-4 flex flex-row justify-content-center align-items-center"  style="height: 400px">
                    <canvas id="week-summary" style="margin: auto"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 card flex-fill m-2">
            <div>
                <div class="py-4 border-bottom">
                    <h4 class="text-center">This weeks history.</h4>
                </div>
                <div class="p-4">
                    <canvas id="week-history"></canvas>
                </div>
            </div>
        </div>
    </div>

    <h3 class="text-centar text-muted">
        Today
    </h3>

    <div class="d-flex flex-lg-row flex-md-column flex-sm-column py-4 justify-content-between align-items-stretch">
        <div class="card p-4 m-2 flex-grow-1">
            <div class="row">
                <div class="col-md-6" style="height: 400px">
                    <canvas id="today-types" style="margin: auto"></canvas>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <div class="mb-2 text-muted">Pending sessions:</div>

                        <table class="table table-bordered table-hover">
                             <thead>
                               <tr>
                                 <th scope="col">Type</th>
                                 <th scope="col">Client</th>
                                 <th scope="col">Time</th>
                                 <th>#</th>
                               </tr>
                             </thead>
                             <tbody>

                                 @foreach(var session in Model.SessionItems)
                                {
                                        var isPassed = session.End < DateTime.Now;
                                        var rowColor = isPassed ? "0.5" : "";

                                    <tr style="opacity: @rowColor">
                                        <partial name="Shared/_ColorColumn" model="@session.Color" />
                                        <td>@session.Name</td>
                                        <td>
                                            <strong>@session.Start.ToShortTimeString()</strong> to <strong>@session.End.ToShortTimeString()</strong>
                                        </td>
                                        <td>
                                            @if (session.IsCancelled)
                                            {
                                                <i class="fa-solid fa-circle-exclamation" style="color: var(--bs-danger); font-size: 20px;"></i>
                                            }
                                        </td>
                                    </tr>
                                }
                             </tbody>
                        </table>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="module">

    // background-color: rgb(36 61 101);
    // background-color: rgb(195 116 54); 
    // background-color: rgb(69 94 61);

    // Today
    const months = @Html.Raw(JsonSerializer.Serialize(Model.Months));

    const typesLabel = @Html.Raw(JsonSerializer.Serialize(Model.TodayTypes));
    const typesData = @Html.Raw(JsonSerializer.Serialize(Model.TodayTypesData));
    const todayTypes = document.getElementById('today-types');
    new Chart(todayTypes, {
        type: 'pie',
        data: {
            labels: typesLabel,
            datasets: [{
                data: typesData,
                backgroundColor: [
                  'rgb(36 61 101)',
                  'rgb(195 116 54)',
                  'rgb(69 94 61)',
                ],
            }]
        },
    });

    // This week

    const weekSummaryLabels = @Html.Raw(JsonSerializer.Serialize(Model.WeekSummaryLables));
    const weekSummaryData = @Html.Raw(JsonSerializer.Serialize(Model.WeekSummaryData));
    const weekSummary = document.getElementById('week-summary');
    new Chart(weekSummary, {
        type: 'pie',
        data: {
            labels: weekSummaryLabels,
            datasets: [{
                data: weekSummaryData,
                backgroundColor: [
                  'rgb(36 61 101)',
                  'rgb(195 116 54)',
                  '#dc3545',
                ],
              }]
        },
    });

    const weekHistoryLabels = @Html.Raw(JsonSerializer.Serialize(Model.WeekHistoryLabels));
    const weekHistoryData = @Html.Raw(JsonSerializer.Serialize(Model.WeekHistoryData));
    const weekHistory = document.getElementById('week-history');
    new Chart(weekHistory, {
        type: 'bar',
        data: {
            labels: weekHistoryLabels,
            datasets: [{
                label: 'This week history',
                data: weekHistoryData,
                borderWidth: 1,
                backgroundColor: [
                    'rgb(36 61 101)'
                ],
               
            }]
        },
    });

    // This year
    const clientsHistory = document.getElementById('clients-history')
    const clientsData = @JsonSerializer.Serialize(Model.ClientsData);
    const clients = {
        labels: months,
        datasets: [{
            label: 'Clients',
            data: clientsData,
            fill: false,
            backgroundColor: 'rgb(36 61 101)',
            tension: 0.1
        }]
    };

    new Chart(clientsHistory, {
        type: 'bar',
        data: clients
    });

    const membershipsHistory = document.getElementById('memberships-history');
    const membershipData = @JsonSerializer.Serialize(Model.MembershipData);
    const memberships = {
        labels: months,
        datasets: [{
            label: 'Memberships',
            data: membershipData,
            fill: false,
            backgroundColor: ' rgb(195 116 54)',
            tension: 0.1
        }]
    };

    new Chart(membershipsHistory, {
        type: 'bar',
        data: memberships
    });
</script>