@page
@using System.Text.Json;
@model GroundUp.Api.Pages.Organizations.IndexModel
@{
}

<div class="container">

    <h3 class="text-centar text-muted ">
        This year
    </h3>

    <div class="d-flex flex-lg-row flex-md-column flex-sm-column py-4 justify-content-between align-items-stretch">
        <div class="m-2 card flex-grow-1">
            <div class="d-flex flex-row justify-content-between w-100 border-bottom pb-2">
                <div class="bg-light-green p-4 m-2 text-white rounded">
                    <i class="fa-solid fa-users"></i>
                </div>
                <div class="d-flex flex-column m-2 w-100 text-right">
                    <div>
                        <div style="font-size: 18px"><span><strong>Clients</strong></span></div>
                        <div>
                            <h2 class="text-muted">@Model.ClientsCount</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 text-right text-muted" style="font-size: 14px">
                <small>New clients this year.</small>
            </div>
        </div>

        <div class="m-2 card flex-grow-1">
            <div class="d-flex flex-row justify-content-between w-100 border-bottom pb-2">
                <div class="bg-light-blue p-4 m-2 text-white rounded">
                    <i class="fa-solid fa-dumbbell"></i>
                </div>
                <div class="d-flex flex-column m-2 w-100 text-right">
                    <div>
                        <div style="font-size: 18px"><span><strong>Memberships</strong></span></div>
                        <div>
                            <h2 class="text-muted">@Model.MembershipsCount</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 text-right text-muted" style="font-size: 14px">
                <small>New memberships this year.</small>
            </div>
        </div>

        <div class="m-2 card flex-grow-1">
            <div class="d-flex flex-row justify-content-between w-100 border-bottom pb-2">
                <div class="bg-light-red p-4 m-2 text-white rounded">
                    <i class="fa-solid fa-tag"></i>
                </div>
                <div class="d-flex flex-column m-2 w-100 text-right">
                    <div>
                        <div style="font-size: 18px"><span><strong>Types</strong></span></div>
                        <div>
                            <h2 class="text-muted">@Model.TypesCount</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 text-right text-muted" style="font-size: 14px">
                <small>Number of avaliable groups.</small>
            </div>
        </div>
    </div>

    <div class="d-flex flex-sm-column flex-md-row pb-4">
        <div class="col-sm-12 col-md-6 card flex-fill m-2">
            <div>
                <div class="py-4 border-bottom">
                    <h4 class="text-center">Clients</h4>
                </div>
                <div class="p-4">
                    <canvas id="clients-history"></canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 card flex-fill m-2">
            <div>
                <div class="py-4 border-bottom">
                    <h4 class="text-center">Memberships</h4>
                </div>
                <div class="p-4">
                    <canvas id="memberships-history"></canvas>
                </div>
            </div>
        </div>
    </div>
    

    <h3 class="text-centar text-muted ">
        This week
    </h3>

    <div class="d-flex flex-lg-row flex-md-column flex-sm-column py-4 justify-content-between align-items-stretch">
        <div class="m-2 card flex-grow-1">
            <div class="d-flex flex-row justify-content-between w-100 border-bottom pb-2">
                <div class="bg-light-green p-4 m-2 text-white rounded">
                    <i class="fa-solid fa-users"></i>
                </div>
                <div class="d-flex flex-column m-2 w-100 text-right">
                    <div>
                        <div style="font-size: 18px"><span><strong>Clients</strong></span></div>
                        <div>
                            <h2 class="text-muted">@Model.ClientCountThisWeek</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 text-right text-muted" style="font-size: 14px">
                Number of clients you will work with this week
            </div>
        </div>

        <div class="m-2 card flex-grow-1">
            <div class="d-flex flex-row justify-content-between w-100 border-bottom pb-2">
                <div class="bg-light-blue p-4 m-2 text-white rounded">
                    <i class="fa-solid fa-dumbbell"></i>
                </div>
                <div class="d-flex flex-column m-2 w-100 text-right">
                    <div>
                        <div style="font-size: 18px"><span><strong>Sessions</strong></span></div>
                        <div>
                            <h2 class="text-muted">@Model.SessionCountThisWeek</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 text-right text-muted" style="font-size: 14px">
                <span class="text-primary" style="font-size: 18px; font-weight: 500">@Model.PassedSessionCountThisWeek </span> / @Model.SessionCountThisWeek completed
            </div>
        </div>

        <div class="m-2 card flex-grow-1">
            <div class="d-flex flex-row justify-content-between w-100 border-bottom pb-2">
                <div class="bg-light-red p-4 m-2 text-white rounded">
                    <i class="fa-solid fa-dumbbell"></i>
                </div>
                <div class="d-flex flex-column m-2 w-100 text-right">
                    <div>
                        <div style="font-size: 18px"><span><strong>Cancelled</strong></span></div>
                        <div>
                            <h2 class="text-muted">@Model.CancelledSessionCountThisWeek</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 text-right text-muted" style="font-size: 14px">
                Number of cancelled sessions.
            </div>
        </div>
    </div>

    <h3 class="text-centar text-muted">
        Today
    </h3>

    <div class="d-flex flex-lg-row flex-md-column flex-sm-column py-4 justify-content-between align-items-stretch">
        <div class="card p-4 m-2 flex-grow-1">
            <div class="row">
                <div class="col-md-6">
                    <canvas id="today-types"></canvas>
                </div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <div class="mb-2 text-muted">Current sessions:</div>

                        @foreach (var session in Model.SessionItems)
                        {
                            <li class="list-group-item list-group-item-action">
                                <div class="d-flex flex-row align-items-center">

                                    @if (session.IsCancelled)
                                    {
                                        <div>
                                            <i class="fa-solid fa-circle-exclamation" style="color: var(--bs-danger); font-size: 20px;"></i>
                                        </div>
                                    }
                                    else
                                    {
                                        <div>
                                            <partial name="Shared/_ColorColumn" model="session.Color" />
                                        </div>
                                    }

                                    <div class="d-flex flex-row px-2 border-right flex-grow-1 justify-content-between">
                                        <div><strong>@session.Name</strong></div>
                                        <div><strong>@session.Start.ToShortTimeString()</strong> to <strong>@session.End.ToShortTimeString()</strong></div>
                                    </div>

                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>

<script type="module">

    const months = @Html.Raw(JsonSerializer.Serialize(Model.Months));
    const types = @Html.Raw(JsonSerializer.Serialize(Model.TodayTypesData));
    const todayTypes = document.getElementById('today-types');
    new Chart(todayTypes, {
        type: 'bar',
        data: {
            labels: types,
            datasets: [{
                label: 'Tranings today',
                data: types,
                borderWidth: 1,
                backgroundColor: [
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 99, 132)',

                ],
            }]
        },
    });

    const clientsHistory = document.getElementById('clients-history')
    const clientsData = @JsonSerializer.Serialize(Model.ClientsData);
    const clients = {
        labels: months,
        datasets: [{
            label: 'Clients',
            data: clientsData,
            fill: false,
            backgroundColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }]
    };

    new Chart(clientsHistory, {
        type: 'bar',
        data: clients
    });

    const membershipsHistory = document.getElementById('memberships-history');
    const membershipData = @JsonSerializer.Serialize(Model.MembershipData);
    const memberships = {
        labels: months,
        datasets: [{
            label: 'Memberships',
            data: membershipData,
            fill: false,
            backgroundColor: 'rgb(54, 162, 235)',
            tension: 0.1
        }]
    };

    new Chart(membershipsHistory, {
        type: 'bar',
        data: memberships
    });
</script>