@page
@model GroundUp.Api.Pages.Clients.IndexModel
@{
}

<div class="container">
    <div class="card">

        <div class="row p-4">
            <div class="col-md-11">
                <h3>Clients</h3>
            </div>
            <div class="col-md-1">
                <form method="POST">
                    <button class="btn btn-outline-secondary" asp-page-handler="Second">Create</button>
                </form>
            </div>
        </div>

        <div class="row px-4">
            <div class="col-md-12">
                <form method="POST" class="row">
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="First Name" aria-label="First Name" aria-describedby="basic-addon1" name="FirstName" value="@Model.FirstName">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Last Name" aria-label="Last Name" aria-describedby="basic-addon1" name="LastName" value="@Model.LastName">
                        </div>
                    </div>

                    <div class="col-md-1 offset-md-3">
                        <button class="btn btn-outline-primary" asp-page-handler="First">Search</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row p-4">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Date of Birth</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var client in Model.Clients)
                        {
                            <tr>
                               
                                <td>
                                    @client.FirstName
                                </td>
                                <td>
                                    @client.LastName
                                </td>
                                <td>
                                    @client.DateOfBirth
                                </td>
                                <td>
                                    @client.Email
                                </td>
                                <td>
                                    @client.PhoneNumber
                                </td>
                                <td class="text-center">
                                    <a asp-page="./Details" asp-route-id="@client.Id"> <i class="fa-solid fa-square-arrow-up-right"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tr>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>


